@import './variable';

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 1rem 0;
    padding: 12px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingXs {
  font-size: 1.0rem;
  line-height: 1.2;
}

.borderCircle {
    border-radius: 9999px;
    box-shadow: 0 4px 15px -2px rgb(0 0 0 / 65%);
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    width: 644px;
    @include mobile {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: -webkit-fill-available;
    }
}

.listItem {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}

.lightText {
  color: #9e9e9e;
}

.blog_posting {
    width: 644px;
    display: block;
    text-align: start;
    @include mobile {
        width: -webkit-fill-available;
    }
}

.img_blog {
    object-fit: cover !important;
    object-position: center;
    width: 100% !important;
    height: 420px !important;
}

.button {
    margin: 0;
    border-radius: 7px;
    color: white;
    background: #0070f3;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    padding: 0.5rem 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bgMain {
@include mobile {
    background: #424346;
    z-index: 9;}
}
.claim {
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    background: #00000047;
}
.claim:hover {
    background: #03a9f463;
}
